@font-face {
    font-family: "Karbon";
    font-weight: 400;
    src: url("KarbonWeb-Regular.eot?") format("eot"), url("KarbonWeb-Regular.woff2") format("woff2"), url("KarbonWeb-Regular.woff") format("woff"), url("KarbonWeb-Regular.ttf") format("truetype"), url("KarbonWeb-Regular.svg#Karbon") format("svg")
}

@font-face {
    font-family: "Karbon";
    font-weight: 500;
    src: url("KarbonWeb-Medium.eot?") format("eot"), url("KarbonWeb-Medium.woff2") format("woff2"), url("KarbonWeb-Medium.woff") format("woff"), url("KarbonWeb-Medium.ttf") format("truetype"), url("KarbonWeb-Medium.svg#Karbon") format("svg")
}
